<div class="container ">
    <div class="row justify-content-center">
        <div class="col col-md-5">
            <div class="card">
                <div class="card-body">
                    <label for="" class="custom-file-lable" >
                    </label>
                    <input class="checkbox" type="checkbox" name="" id="">
                    <input type="text" style="border-color: transparent; background-color: white;">
                    <!-- <input type="checkbox" name="" id="">in Curently Typing...</div> -->
            </div>
            

        </div>
    </div>
</div>