/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(pic/bg-desktop-light.jpg);
    /* border-image-repeat; */
    background-repeat: no-repeat;
    background-color: whitesmoke;
}