<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col col-md-5">
            <div class="card rounded-0 rounded-top">
                <div class="card-body">
                    <input class="checkbox" type="checkbox" name="" id=""> text Complete online JavaScript course</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-md-5">
            <div class="card rounded-0">
                <div class="card-body">
                    <input class="checkbox" type="checkbox" name="" id=""> Jog around the park 3x</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-md-5 ">
            <div class="card rounded-0">
                <div class="card-body">
                    <input class="checkbox" type="radio" name="" id=""> 10 minutes meditation</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-md-5 ">
            <div class="card  rounded-0">
                <div class="card-body">
                    <input class="checkbox" type="checkbox" name="" id=""> Read for 1 hour</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center ">
        <div class="col col-md-5">
            <div class="card rounded-0">
                <div class="card-body">
                    <input class="checkbox" type="checkbox" name="" id=""> Pick up groceries</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-md-5">
            <div class="card rounded-0 rounded-bottom">
                <div class="card-body">
                    <input class="checkbox" type="checkbox" name="" id=""> Complete Todo App on Frontend Mentor</div>
            </div>
        </div>
    </div>
</div>