.checkbox{
    -webkit-appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    border: 0.25px solid #28282B;
    cursor: pointer;
    margin-left: 5px;
}
.checkbox:checked{
    background: linear-gradient(135deg,rgb(51, 51, 187),rgb(219, 100, 221));
}